
.body-image {
    position: relative;

    height: 100%;
    width: 100%;
    background-size: cover;
    background: url(/assets/img/mainpic.jpg) center fixed no-repeat;

    will-change: transform;
    -webkit-transition: background .2s ease;
    transition: background .2s ease;
}
.header-form-area {
    position: relative;
    text-align: center;
    left: 0;
    right: 0;
   /* top: 50%;*/
    z-index: 2;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.login-header {
    height: 40px;
    width: 100%;
    background-color: #5e5e5e;
    padding-top: 2.5px;
    display: inline;
    display: inline-block;
    display: -webkit-inline-box;
}

.login_form{
    float: right;
    padding-top: 2.5px;
    display: inline;
    display: inline-block;
    display: -webkit-inline-box;
}

.or{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
}


.nav-section {
    min-height: 15%;
    padding: 15px 0;
}
.filter-line {
    height: 40px;
    border: 3px solid #d4d4d4;
    border-right-width: 0;
    border-left-width: 0;
}
.main {
    background-color: beige;
    height: 100%;
    width: 100%;
    padding: 10% 5% 0%;
    display: inline-table;
}
.search-hotel-block {
    margin-bottom: 20px;
}
.padding0{
    padding: 0;
}















.title_b{
    color: #0f0f0f;
}
.description_w{
    font: Georgia;
    font-size: large;
    color: white;
}

.description_b{
    font: Georgia;
    font-size: medium;
    color: #555555;
}

p{
    color: aliceblue;
}

h1{
    color:aliceblue;
}

.main-insides{
    top:50%;
    position: relative;
}

.name-place{
    width: 80% !important;
    max-width: 400px;
    min-width: 200px;
    display: list-item;
}
.password-place{
    width: 80% !important;
    max-width: 400px;
    min-width: 200px;
    display: list-item;
}
.pass-confirm-place{
    width: 80% !important;
    max-width: 400px;
    min-width: 200px;
    display: list-item;
}
.tel-place{
    width: 80% !important;
    max-width: 400px;
    min-width: 200px;
    display: list-item;
}



/* îôîðìëÿåì çàãîëîâîê ôîðìû */
.title {
    font-family: "Trebuchet MS",Tahoma,Arial,sans-serif;
    font-size:22px;
    font-weight: normal;
    font-weight: 200;
    text-align:left;
    position: absolute;
    top: 30px;
    left: 40px;
    /* ìîæíî çàìåíèòü íà äðóãóþ êàðòèíêó
       ** èëè border-bottom: áëà áëà áëà */
    background: url(images/divider.png) no-repeat bottom;
    color: #545151;
    height: 40px;
    width: 400px;
    margin: 15px 0;
    text-shadow: 1px 1px #FFF;/* òåíü òåêñòà */
}
/* ñòèëè äëÿ ïîëåé ââîäà */
input[type=text] {
    font-famil: "Trebuchet MS",Tahoma,Arial,sans-serif;
    font-size: 13px;
    background-color:rgb(255,255,255);
    color: #787474;
    padding-left: 10px;
    width:208px;
    height:33px;
    border-color:rgb(182,182,182);
    border-width:1px;
    border-style:solid;
    -moz-box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.2);
    box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.2);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #80ffffff,Positive = true)";
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #80ffffff,Positive = true);
    border-radius: 3px;
    -moz-border-radius: 3px;
}
/* ìåíÿåì îôîðìëåíèå ïîëåé ââîäà ïðè ôîêóñå */
input[type=text]:focus, .your-message:focus {
    outline: none;
    background-color:rgb(255,255,255);
    border-color:rgb(126,139,153);
    border: 1px solid;
    -moz-box-shadow:0px 0px 5px 0px rgba(168,178,188,0.75) ,0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow:0px 0px 5px 0px rgba(168,178,188,0.75) ,0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.4);
    box-shadow:0px 0px 5px 0px rgba(168,178,188,0.75) ,0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.4);
    -ms-filter:"progid:DXImageTransform.Microsoft.Glow(Color=#bfa8b2bc,Strength=5)
            progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #80ffffff,Positive = true)";
    filter:progid:DXImageTransform.Microsoft.Glow(Color=#bfa8b2bc,Strength=5)
            progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #80ffffff,Positive = true);
}

input[type=password] {
    font-famil: "Trebuchet MS",Tahoma,Arial,sans-serif;
    font-size: 13px;
    background-color:rgb(255,255,255);
    color: #787474;
    padding-left: 10px;
    width:208px;
    height:33px;
    border-color:rgb(182,182,182);
    border-width:1px;
    border-style:solid;
    -moz-box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.2);
    box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.2);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #80ffffff,Positive = true)";
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #80ffffff,Positive = true);
    border-radius: 3px;
    -moz-border-radius: 3px;
}
/* ìåíÿåì îôîðìëåíèå ïîëåé ââîäà ïðè ôîêóñå */
input[type=password]:focus, .your-message:focus {
    outline: none;
    background-color:rgb(255,255,255);
    border-color:rgb(126,139,153);
    border: 1px solid;
    -moz-box-shadow:0px 0px 5px 0px rgba(168,178,188,0.75) ,0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow:0px 0px 5px 0px rgba(168,178,188,0.75) ,0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.4);
    box-shadow:0px 0px 5px 0px rgba(168,178,188,0.75) ,0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.4);
    -ms-filter:"progid:DXImageTransform.Microsoft.Glow(Color=#bfa8b2bc,Strength=5)
            progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #80ffffff,Positive = true)";
    filter:progid:DXImageTransform.Microsoft.Glow(Color=#bfa8b2bc,Strength=5)
            progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #80ffffff,Positive = true);
}


.your-name {
    position: absolute;
    top: 100px;
    left: 40px;
}

.email-address {
    position: absolute;
    top: 100px;
    left: 280px;
}
