
.body-image {
    position: relative;

    height: 100%;
    width: 100%;
    background-size: cover;
    background: url(/assets/img/mainpic.jpg) center fixed no-repeat;

    will-change: transform;
    -webkit-transition: background .2s ease;
    transition: background .2s ease;
}
.header-form-area {
    position: relative;
    text-align: center;
    left: 0;
    right: 0;
   /* top: 50%;*/
    z-index: 2;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.login-header {
    height: 40px;
    width: 100%;
    background-color: #5e5e5e;

}

.login_form{
    float: right;
    padding-top: 2.5px;
    display: inline;
    display: inline-block;
    display: -webkit-inline-box;
}

.or{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
}


.nav-section {
    min-height: 15%;
    padding: 15px 0;
}
.filter-line {
    height: 40px;
    border: 3px solid #d4d4d4;
    border-right-width: 0;
    border-left-width: 0;
}
.main {
    background-color: #d4d4d4;
    height: 100%;
    width: 100%;
    padding: 10% 5% 0%;
    display: inline-table;
}
.search-hotel-block {
    margin-bottom: 20px;
}
.padding0{
    padding: 0;
}

p{
    color: aliceblue;
}

h1{
    color:aliceblue;
}

.main-insides{
    top:50%;
    position: relative;
}

.name-place{
    width: 80% !important;
    max-width: 400px;
    min-width: 200px;
    display: list-item;
}
.password-place{
    width: 80% !important;
    max-width: 400px;
    min-width: 200px;
    display: list-item;
}
.pass-confirm-place{
    width: 80% !important;
    max-width: 400px;
    min-width: 200px;
    display: list-item;
}
.tel-place{
    width: 80% !important;
    max-width: 400px;
    min-width: 200px;
    display: list-item;
}

/* óñòàíàâëèâàåì ñëîé çàòåìíåíèÿ ôîíà,
  ** îïðäåëÿåì ïîçèöèè, öâåò è èíòåíñèâíîñòü çàòåìíåíèÿ  */
.black-overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}
/* óñòàíàâëèâàåì ðèñóíîê îñíîâû,
  ** îïðäåëÿåì ðàçìåðû è ïîëîæåíèå íà ýêðàíå  */
.envelope {
    display: none;
    width: 40%;
    height: 340px;
    background: url(images/envelope.png) center no-repeat;
    z-index:1002;
    position: relative;
   top:30%;
    margin: auto;
}

.envelope_l {
    display: none;
    width: 40%;
    height: 340px;
    background: url(images/envelope.png) center no-repeat;
    z-index:1002;
    position: relative;
    top:30%;
    margin: auto;
}
/* ôîðìèðóåì êíîïêó çàêðûòèÿ,
  ** ðàçìåðû, ïîëîæåíèå íà ôîðìå  */
.close-btn {
    float:right;
    width: 31px;
    height: 31px;
    display: block;
    cursor: pointer;/* äëÿ ñëó÷àÿ ïðèìåíåíèÿ îòëè÷íûõ îò <a> òåãîâ */
    background: url(/assets/img/close.png);
    text-indent: -4999px;
}
/* êíîïêà çàêðûòèÿ ïðè íàâåäåíèè */
.close-btn:hover{
    background: url(/assets/img/close-hover.png);

}
/* îôîðìëÿåì çàãîëîâîê ôîðìû */
.title {
    font-family: "Trebuchet MS",Tahoma,Arial,sans-serif;
    font-size:22px;
    font-weight: normal;
    font-weight: 200;
    text-align:left;
    position: absolute;
    top: 30px;
    left: 40px;
    /* ìîæíî çàìåíèòü íà äðóãóþ êàðòèíêó
       ** èëè border-bottom: áëà áëà áëà */
    background: url(images/divider.png) no-repeat bottom;
    color: #545151;
    height: 40px;
    width: 400px;
    margin: 15px 0;
    text-shadow: 1px 1px #FFF;/* òåíü òåêñòà */
}
/* ñòèëè äëÿ ïîëåé ââîäà */
input[type=text] {
    font-family: "Trebuchet MS",Tahoma,Arial,sans-serif;
    font-size: 13px;
    background-color:rgb(255,255,255);
    color: #787474;
    padding-left: 10px;
    width:208px;
    height:33px;
    border-color:rgb(182,182,182);
    border-width:1px;
    border-style:solid;
    -moz-box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.2);
    box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.2);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #80ffffff,Positive = true)";
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #80ffffff,Positive = true);
    border-radius: 3px;
    -moz-border-radius: 3px;
}
/* ìåíÿåì îôîðìëåíèå ïîëåé ââîäà ïðè ôîêóñå */
input[type=text]:focus, .your-message:focus {
    outline: none;
    background-color:rgb(255,255,255);
    border-color:rgb(126,139,153);
    border: 1px solid;
    -moz-box-shadow:0px 0px 5px 0px rgba(168,178,188,0.75) ,0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow:0px 0px 5px 0px rgba(168,178,188,0.75) ,0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.4);
    box-shadow:0px 0px 5px 0px rgba(168,178,188,0.75) ,0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.4);
    -ms-filter:"progid:DXImageTransform.Microsoft.Glow(Color=#bfa8b2bc,Strength=5)
            progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #80ffffff,Positive = true)";
    filter:progid:DXImageTransform.Microsoft.Glow(Color=#bfa8b2bc,Strength=5)
            progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #80ffffff,Positive = true);
}
.your-message {
    font-family: "Trebuchet MS",Tahoma,Arial,sans-serif;
    font-size: 13px;
    background-color:rgb(255,255,255);
    color: #787474;
    padding: 10px 0 0 10px;
    width:448px;
    height:93px;
    border-color:rgb(182,182,182);
    border-width:1px;
    border-style:solid;
    -moz-box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.2);
    box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.2);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #80ffffff,Positive = true)";
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #80ffffff,Positive = true);
    position: absolute;
    top: 150px;
    left: 40px;
    border-radius: 3px;
    -moz-border-radius: 3px;
}

.your-name {
    position: absolute;
    top: 100px;
    left: 40px;
}

.email-address {
    position: absolute;
    top: 100px;
    left: 280px;
}
/* îôîðìëÿåì êíîïêó îòïðàâêè */
.send-message {
    background-color: #929FAB;
    background-image:-moz-linear-gradient(49% 0% -90deg,rgb(171,181,191) 0%,rgb(124,138,152) 100%);
    background-image:-webkit-gradient(linear,49% 0%,49% 109%,color-stop(0, rgb(171,181,191)),color-stop(1, rgb(124,138,152)));
    background-image:-webkit-linear-gradient(-90deg,rgb(171,181,191) 0%,rgb(124,138,152) 100%);
    background-image:-o-linear-gradient(-90deg,rgb(171,181,191) 0%,rgb(124,138,152) 100%);
    background-image:-ms-linear-gradient(-90deg,rgb(171,181,191) 0%,rgb(124,138,152) 100%);
    background-image:linear-gradient(-90deg,rgb(171,181,191) 0%,rgb(124,138,152) 100%);
    width:130px;
    height:35px;
    -moz-box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 3px rgb(97,108,122);
    -webkit-box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 3px rgb(97,108,122);
    box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 3px rgb(97,108,122);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffabb5bf,endColorstr=#ff7c8a98,GradientType=0)
            progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #80ffffff,Positive = true)";
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffabb5bf,endColorstr=#ff7c8a98,GradientType=0)
            progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #80ffffff,Positive = true);
    color: #fff;
    font-family: "Trebuchet MS",Tahoma,Arial,sans-serif;
    font-size: 13px;
    text-shadow: 0 1px 0 #21405D;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    -moz-border-radius: 3px;

}
/* îôîðìëÿåì êíîïêó îòïðàâêè ïðè íàâåäåíèè */
.send-message:hover{
    background-color: #A0ACB9;
    background-image:-moz-linear-gradient(49% 0% -90deg,rgb(170,181,195) 0%,rgb(144,157,169) 100%);
    background-image:-webkit-gradient(linear,49% 0%,49% 109%,color-stop(0, rgb(170,181,195)),color-stop(1, rgb(144,157,169)));
    background-image:-webkit-linear-gradient(-90deg,rgb(170,181,195) 0%,rgb(144,157,169) 100%);
    background-image:-o-linear-gradient(-90deg,rgb(170,181,195) 0%,rgb(144,157,169) 100%);
    background-image:-ms-linear-gradient(-90deg,rgb(170,181,195) 0%,rgb(144,157,169) 100%);
    background-image:linear-gradient(-90deg,rgb(170,181,195) 0%,rgb(144,157,169) 100%);
    width:130px;
    height:35px;
    -moz-box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 3px rgb(97,108,122);
    -webkit-box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 3px rgb(97,108,122);
    box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 3px rgb(97,108,122);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffaab5c3,endColorstr=#ff909da9,GradientType=0)
            progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #80ffffff,Positive = true)";
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffaab5c3,endColorstr=#ff909da9,GradientType=0)
            progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #80ffffff,Positive = true);
}
/* îôîðìëÿåì êíîïêó îòïðàâêè â ðåæèìå àêòèâíîé */
.send-message:active{
    background-image:-moz-linear-gradient(49% 0% -90deg,rgb(142,154,167) 0%,rgb(124,138,152) 100%);
    background-image:-webkit-gradient(linear,49% 0%,49% 109%,color-stop(0, rgb(142,154,167)),color-stop(1, rgb(124,138,152)));
    background-image:-webkit-linear-gradient(-90deg,rgb(142,154,167) 0%,rgb(124,138,152) 100%);
    background-image:-o-linear-gradient(-90deg,rgb(142,154,167) 0%,rgb(124,138,152) 100%);
    background-image:-ms-linear-gradient(-90deg,rgb(142,154,167) 0%,rgb(124,138,152) 100%);
    background-image:linear-gradient(-90deg,rgb(142,154,167) 0%,rgb(124,138,152) 100%);
    width:130px;
    height:35px;
    -moz-box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 5px rgb(65,73,85);
    -webkit-box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 5px rgb(65,73,85);
    box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 5px rgb(65,73,85);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff8e9aa7,endColorstr=#ff7c8a98,GradientType=0)
            progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #80ffffff,Positive = true)";
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff8e9aa7,endColorstr=#ff7c8a98,GradientType=0)
            progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #80ffffff,Positive = true);
}
/* îôîðìëÿåì êíîïêó îòêðûòèÿ ôîðìû íà äåìî-ñòðàíèöå
** íå îáÿçàòåëüíûé ðàçäåë, ó êàæäîãî ñâîé ýëåìåíò */
.show-btn {
    position: relative;
    top:8px;
    text-decoration: none;
    width:50px;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    vertical-align: baseline;
    margin: 0 auto;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    color: #e9e9e9;
    border: solid 1px #555;
    background: #6e6e6e;
    background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
    background: -moz-linear-gradient(top,  #888,  #575757);
    background: -ms-linear-gradient(top,  #888,  #575757);
    background-image: -o-linear-gradient(top,#888,  #575757);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.show-btn:hover{
    background: #616161;
    background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
    background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
    background: -ms-linear-gradient(top,  #757575,  #4b4b4b);
    background-image: -o-linear-gradient(top,#757575,  #4b4b4b);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.show-btn:active {
    color: #afafaf;
    background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
    background: -moz-linear-gradient(top,  #575757,  #888);
    background-image: -o-linear-gradient(top,rgb(87,87,87),rgb(136,136,136));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}